<div class="l-main__about l-outer-width">
    <div class="about__container">
        <div class="container__item main__item">
            <h1 class="item__title title-page">{{ pageTitle }}</h1>
            <h3 class="item__description">Мы непрерывно развиваемся и<br>работаем над совершенствованием сервиса, заботимся о наших клиентах,<br>стремимся к лучшему будущему.</h3>
        </div>
        <div class="container__item secondary__item">
            <div class="secondary__item__description">
                <div class="description__img">{{ inc.inlineSvg('tick', '../static/img/pages/aboutpage/tick.svg') }}</div>
                <div class="description__text">
                    <p class="text__title">Мы занимаемся<br>розничной торговлей</p>
                    <h3 class="text__description">Более 20 лет.</h3>
                </div>
            </div>
            <div class="secondary__item__description">
                <div class="description__img">{{ inc.inlineSvg('tick', '../static/img/pages/aboutpage/tick.svg') }}</div>
                <div class="description__text">
                    <p class="text__title">Основная миссия компании</p>
                    <h3 class="text__description">Максимальное качество<br>товаров и услуг по<br>доступной цене.</h3>
                </div>
            </div>
            <div class="secondary__item__description">
                <div class="description__img">{{ inc.inlineSvg('tick', '../static/img/pages/aboutpage/tick.svg') }}</div>
                <div class="description__text">
                    <p class="text__title">Отличительная черта нашей сети</p>
                    <h3 class="text__description">Здоровая и полезная продукция<br>местного производства внаших<br>магазинах.</h3>
                </div>
            </div>
        </div>
        <div class="container__item last__item">
            <div class="last__item__img">{{ inc.inlineSvg('logo', '../static/img/pages/aboutpage/logo.svg') }}</div>
            <div class="last__item__text-frame">
                <h3 class="text-frame__text">Спасибо за то, что вы с нами. Северяночка, везет всегда!</h3>
            </div>
        </div>
    </div>
</div>
