<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <button type="button" class="item__img__like-btn">{{ inc.inlineSvg('rating', '../static/img/sections/product/liked.svg') }}</button>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <button type="button" class="description__basket-btn">В корзину</button>
    </div>
</article>
