<section class="l-main__stores l-outer-width">
    <h2 class="stores__text primary-h2">Наши магазины</h2>

    <div class="stores__points">
        <input type="button" class="points__item selected" value="п.Щельяюр">
        <input type="button" class="points__item" value="д.Вертеп">
        <input type="button" class="points__item" value="с.Краснобор">
        <input type="button" class="points__item" value="д.Диюр">
    </div>

    {% if pageTitle == "Контакты" %}
    <div class="stores__container">
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market1.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Дорожная 10</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:+79042713590" class="description__phone">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market2.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Советская 87</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:+78214091330" class="description__phone">+7 82140 91330</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market3.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Заводская 16</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:78214091101" class="description__phone">+7 82140 91101</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market4.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Рабочая 1</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:78214091300" class="description__phone">+7 82140 91300</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="stores__map">
        <div class="map__item selected"></div>
    </div>
</section>
