<section class="l-main__stores l-outer-width">
    <h2 class="stores__text primary-h2">Наши магазины</h2>

    <div class="stores__points{% if pageTitle == "Контакты" %} contacts{% endif %}">
        <button type="button" class="points__item selected" data-lat="65.325869" data-lng="53.417914">п.Щельяюр</button>
        <button type="button" class="points__item" data-lat="65.298894" data-lng="53.204025">д.Вертеп</button>
        <button type="button" class="points__item" data-lat="65.294898" data-lng="53.285251">с.Краснобор</button>
        <button type="button" class="points__item" data-lat="65.277609" data-lng="53.359892">д.Диюр</button>
    </div>

    {% if pageTitle == "Контакты" %}
    <div class="stores__container">
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market1.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Дорожная 10</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:+79042713590" class="description__phone">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market2.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Советская 87</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:+78214091330" class="description__phone">+7 82140 91330</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market3.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Заводская 16</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:78214091101" class="description__phone">+7 82140 91101</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/sections/stores/market4.svg') }}
            </div>
            <div class="item__container">
                <div class="item__description">
                    <div class="description__image"> {{ inc.inlineSvg('logo', '../static/img/home.svg') }}</div>
                    <h3 class="description__name">ул. Рабочая 1</h3>
                </div>
                <div class="item__description">
                    <div class="description__image">{{ inc.inlineSvg('logo', '../static/img/phone.svg') }}</div>
                    <a href="tel:78214091300" class="description__phone">+7 82140 91300</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="stores__map selected"></div>
</section>
