<div class="l-main__vacancies container">
    <h1 class="vacancies__title title-page">{{ pageTitle }}</h1>
    <div class="vacancies__container">
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
        <div class="container__item">
            <h3 class="item__title">Должность</h3>
            <div class="item__description">
                <p class="description__title">Требования</p>
                <div class="description__text">Текст про требования текст про требования текст про требования текст про требования текст про требования</div>
            </div>
            <div class="item__description">
                <p class="description__title">Обязанности</p>
                <div class="description__text">Текст про обязаности текст про обязаности текст про обязаности текст про обязаности текст про обязаности</div>
            </div>
            <div class="item__description">
                <p class="description__title">Условия</p>
                <div class="description__text">Текст про условия текст про условия текст про условия текст про условия текст про условия текст про условия</div>
            </div>
            <div class="item__description">
                <p class="description__title">Звоните</p>
                <div class="description__phone">
                    <div class="phone__img">
                        {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
                    </div>
                    <a href="tel:+79042713590" class="phone__text">+7 904 271 35 90</a>
                </div>
            </div>
        </div>
    </div>
</div>
