<footer class="site-footer l-footer">
    <div class="footer-top">
        <div class="footer-top__logo">
            {{ inc.inlineSvg('logo', '../static/img/modules/footer/logo.svg') }}
        </div>
        <nav class="footer-top__navigation">
            <a href="about.html" class="navigation__text">О компании</a>
            <a href="contacts.html" class="navigation__text">Контакты</a>
            <a href="vacancies.html" class="navigation__text">Вакансии</a>
            <a class="navigation__text">Статьи</a>
            <a class="navigation__text">Политика обработки персональных данных</a>
        </nav>
        <div class="footer-top__social">
            <div class="social__item">{{ inc.inlineSvg('instagram', '../static/img/modules/footer/social/instagram.svg') }}</div>
            <div class="social__item">{{ inc.inlineSvg('vkontakte', '../static/img/modules/footer/social/vkontakte.svg') }}</div>
            <div class="social__item">{{ inc.inlineSvg('facebook', '../static/img/modules/footer/social/facebook.svg') }}</div>
            <div class="social__item">{{ inc.inlineSvg('ok', '../static/img/modules/footer/social/ok.svg') }}</div>
        </div>
        <div class="footer-top__social-phone">
            <div class="social-phone__img">
                {{ inc.inlineSvg('phone', '../static/img/phone.svg') }}
            </div>
            <p class="social-phone__text">8 800 777 33 33</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="footer-bottom__text">Дизайн</p>
        <div class="footer-bottom__logo">
            {{ inc.inlineSvg('created-by', '../static/img/modules/footer/created-by-logo.svg') }}
        </div>
    </div>
</footer>
