<header class="site-header">
    <a href="index.html" class="header__logo">
        {{ inc.inlineSvg('logo', '../static/img/modules/header/logo.svg') }}
    </a>
    <div class="header__buttons">
        <a href="catalog.html"  class="header__buttons-item catalog">
            <div class="catalog__container">
                <div class="container__button"></div>
            </div>
            <p class="catalog__text">Каталог</p>
        </a>
        <div class="header__buttons-item search">
            <input class="buttons-item__input" placeholder="Найти товар"/>
            <div class="buttons-item__img">
                {{ inc.inlineSvg('search', '../static/img/modules/header/buttons/search.svg') }}
            </div>
        </div>
    </div>
    <nav class="header__navigation">
        <a href="chosen.html" class="navigation__item">
            <div class="item__img">
                {{ inc.inlineSvg('loved', '../static/img/modules/header/navigation/loved.svg') }}
            </div>
            <p class="item__text">Избранное</p>
        </a>
        <a href="orders.html" class="navigation__item">
            <div class="item__img">
                {{ inc.inlineSvg('orders', '../static/img/modules/header/navigation/orders.svg') }}
            </div>
            <p class="item__text">Заказы</p>
        </a>
        <a href="basket.html" class="navigation__item basket__item">
            <div class="item__img">
                {{ inc.inlineSvg('basket', '../static/img/modules/header/navigation/basket.svg') }}
            </div>
            <p class="item__text">Корзина</p>
        </a>
    </nav>
    <div class="header_user-menu">
        <div class="user-menu__img">
            <img class="img__avatar" src="../img/modules/header/user/avatar.png" alt="A"/>
        </div>
        <p class="user-menu__text">Алексей</p>
        <div class="user-menu__img">
            {{ inc.inlineSvg('arrow', '../static/img/arrow.svg') }}
        </div>
    </div>
</header>
<div class="catalog__dropdown-menu">
    <ul class="dropdown-menu__item">
        <li><a href="#" class="menu__item__text">Молоко, сыр, яйцо</a></li>
        <li><a href="#" class="menu__item__text">Хлеб</a></li>
        <li><a href="#" class="menu__item__text">Фрукты и овощи</a></li>
        <li><a href="#" class="menu__item__text">Замороженные продукты</a></li>
    </ul>
    <ul class="dropdown-menu__item">
        <li><a href="#" class="menu__item__text">Напитки</a></li>
        <li><a href="#" class="menu__item__text">Кондитерские изделия</a></li>
        <li><a href="#" class="menu__item__text">Чай, кофе</a></li>
    </ul>
    <ul class="dropdown-menu__item">
        <li><a href="#" class="menu__item__text">Бакалея</a></li>
        <li><a href="#" class="menu__item__text">Здоровое питание</a></li>
        <li><a href="#" class="menu__item__text">Зоотовары</a></li>
    </ul>
    <ul class="dropdown-menu__item">
        <li><a href="#" class="menu__item__text">Непродовольственные товары</a></li>
        <li><a href="#" class="menu__item__text">Детское питание</a></li>
        <li><a href="#" class="menu__item__text">Мясо, птица, колбаса</a></li>
    </ul>
</div>
