<header class="site-header">
    <div class="header__logo">
        {{ inc.inlineSvg('logo', '../static/img/modules/header/logo.svg') }}
    </div>
    <div class="header__buttons">
        <div class="header__buttons-item catalog">
            <div class="catalog__container">
                <div class="container__button"></div>
            </div>
            <p class="catalog__text">Каталог</p>
        </div>
        <div class="header__buttons-item search">
            <input class="buttons-item__input" placeholder="Найти товар"/>
            <div class="buttons-item__img">
                {{ inc.inlineSvg('search', '../static/img/modules/header/buttons/search.svg') }}
            </div>
        </div>
    </div>
    <nav class="header__navigation">
        <div class="navigation__item">
            <div class="item__img">
                {{ inc.inlineSvg('loved', '../static/img/modules/header/navigation/loved.svg') }}
            </div>
            <p class="item__text">Избранное</p>
        </div>
        <div class="navigation__item">
            <div class="item__img">
                {{ inc.inlineSvg('orders', '../static/img/modules/header/navigation/orders.svg') }}
            </div>
            <p class="item__text">Заказы</p>
        </div>
        <div class="navigation__item">
            <div class="item__img">
                {{ inc.inlineSvg('basket', '../static/img/modules/header/navigation/basket.svg') }}
            </div>
            <p class="item__text">Корзина</p>
        </div>
    </nav>
    <div class="header_user-menu">
        <div class="user-menu__img">
            <img class="img__avatar" src="../img/modules/header/user/avatar.png" alt="A"/>
        </div>
        <p class="user-menu__text">Алексей</p>
        <div class="user-menu__img">
            {{ inc.inlineSvg('arrow', '../static/img/arrow.svg') }}
        </div>
    </div>
</header>
